<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>
        <%= message %>
    </h1>

    <button >
        disconnect
    </button>

    <script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();


  const button =  document.getElementsByTagName("button")[0].addEventListener("click",(e)=>{
    alert("asdasds")

    console.log(socket)

    socket.emit("message","gils")
  },false)
</script>ss
</body>



</html>