<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>
        asdasd
    </title>
</head>

<body>
    <h1>
        <% if (message) { %>
            <%= message %>
         <% } %>
    </h1>

    <form action="http://localhost:3000/auth/login" method="post">

        <div>
            <label for="username">username</label>
            <input type="text" name="username" id="">
        </div>
        <div>
            <label for="password">username</label>
            <input type="password" name="password" id="">
        </div>
        <div>
            <button type="submit">registart</button>
        </div>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>


    </script>ss
</body>



</html>